.background {
  background: url('../assets/image/fitness.jpg') no-repeat center center fixed;
    background-size: 100% 79.77% !important;
    background-position: center center;
    background-color: white;
}

.scroll-content{ overflow-y: hidden;}